.notReady {
  color: red;
}

.ready {
  color: green;
}

.usual {
  color: black;
}

body {
  /*margin-left: 20%;*/
  /*margin-right: 20%;*/
  margin-top: 50pt;
  font-family: sans-serif;
  font-size: 1.2rem !important;
  color: black !important;
}

.bigfont {
  font-size: 1.35rem !important;
}

.timernavbar {
  margin-bottom: .4rem;
  white-space: nowrap;
  display: block !important;
}

p {
  margin: 0 !important;
}

.scramble {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  align-self: center;
}

.time {
  text-align: center;
  font-size: 6rem;
  font-family: verdana, monospace;
  margin: 3px;
  -webkit-touch-callout: none;
  -webkit-user-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;
}

.auth {
  text-align: center;
}

.title {
  float: left;
  overflow: hidden;
  margin-right: .3rem;
  display: inline !important;
}

.title::first-letter {
  font-weight: bold;
}

.right {
  float: right;
}

.header {
  overflow: hidden;
  padding-bottom: 10px;
}

.name {
  /*font-weight: bold;*/
  padding-right: 1rem;
  overflow: hidden;
}

.results {
  /*padding-top: 1em;*/
}

.stats {
  padding-left: .5em;
  padding-bottom: .3em;
  display: inline;
  float: right;
  white-space: nowrap;
}

.right-stats {
  padding-left: .7em;
}

