.bigfont {
    font-size: 1.35rem !important;
}

.timernavbar {
    margin-bottom: .4rem;
    white-space: nowrap;
    display: block !important;
}

.title {
    float: left;
    overflow: hidden;
    margin-right: .3rem;
    display: inline !important;
}

.title::first-letter {
    font-weight: bold;
}

.name {
    /*font-weight: bold;*/
    padding-right: 1rem;
    overflow: hidden;
}

.header {
    overflow: hidden;
    padding-bottom: 10px;
}
